@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    transition: all 0.15s;
  }
  html { 
    height:100%; 
  }
  body {
    position: absolute; top:0; bottom:0; right:0; left:0; 
    background: radial-gradient(circle, #34495e 0%, #333 100%);
    padding-top: 150px;
  }
  .container{
    margin: 0px auto;
    text-align: center;
    perspective: 600px;
  }
  button{
    font-size: 30px;
    font-family: 'noto sans kr', sans-serif;
    line-height: 30px;
    padding: .618em 1em;
    border-radius: 10px 10px 12px 12px;
    border: 1px solid #2980b9;
    cursor: pointer;
    background: #3498db;
    color: #ecf0f1;
    margin: 10px 10px;
    width: 280px;
    text-align: left;
  }
  button i{
    padding-right: 17px;
    transform: scale(1.1) translate(0,-1px);
  }
  button:hover{
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow:
      0px 5px 0px 0px #2980b9, /* button thickness */
      0px 0 50px rgba(134, 243, 255, 1) inset, /* inner glow */
      5px 28px 0px rgba(255,255,255,.15) inset, /* sublte reflection */
      0px 0px 30px rgba(134,243,255,.2), /* outer glow */
      5px 15px 30px -10px #000; /* dark shadow underneath */
    color: #fff;
  }
  button:hover i{
    transform: rotate(-12deg) translate(1px, -3px) scale(1.2);
  }
  button:active{
    margin-top: 18px;
    margin-bottom: 2px;
    box-shadow:
      0px 2px 0px 0px #2980b9, /* button thickness */
      0px 0 100px 10px rgba(134, 243, 255, 1) inset, /* inner glow */
      5px 25px 0px rgba(255,255,255,.1) inset, /* sublte reflection */
      0px 0px 30px rgba(134,243,255,.5), /* outer glow */
      5px 15px 30px -10px #000; /* dark shadow underneath */
  }
